{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Commit Finder</title>
        <link rel="icon" type="image/x-icon" href="{% static 'Finder/assets/favicon.ico' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
                         <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Finder/css/styles.css' %}" rel="stylesheet" />
        {% comment %} <link href="{% static 'Finder/base.css' %}" rel="stylesheet" /> {% endcomment %}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand">Commit Finder</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                    	<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#about">About</a></li>--> 
                    </ul>
                </div>
            </div>
        </nav>
      
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
      			<form action="" method="POST">
           			 {% csrf_token %}
				<div class="row">
				  <div class="col">
					<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="dropdown1" required>
					     <option selected>Select the Branch</option> 
					    {% for branch in branches %} 
						<option value={{branch}}>{{branch}}</option>
					    {% endfor %}
					</select>
				  </div>

				  <div class="col">
				    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="dropdown2" required>
					 <option selected>Select the Branch</option> 
					{% for branch in branches %} 
					    <option value={{branch}}>{{branch}}</option>
					{% endfor %}
				    </select>
				  </div>
       		 </div>
        				<input class="btn btn-primary" type="submit" value="Compare" >
   			 </form>    
                    </div>
                </div>
            </div>
        </header>
  
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2022</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Finder/js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            console.log("Hello")
        </script>
    </body>
</html>
