{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="" />
        <meta name="author" content="Junaid Khan" />
        <title>Commit Finder</title>
        <!-- <link rel="icon" type="image/x-icon" href="{% static 'Finder/assets/favicon.ico' %}"/> -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="{% static 'Finder/css/styles.css' %}" rel="stylesheet"/>  -->
        
    </head>
    <body>
       <div class ="container-fluid">
                <div class="row bg-primary">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top " id="mainNav">
                        <div class="container px-4 px-lg-5">
                            <a class="navbar-brand text-white">Commit Finder</a>
                            <button class="navbar-toggler navbar-toggler-right text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                Menu
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
                                    <!--<li class="nav-item"><a class="nav-link" href="#about">About</a></li>--> 
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row my-5">
                    {% for commit in commits%}
                    <div class="card">
                        <h5 class="card-header bg-light" >{{commit.committed_date}}</h5>
                        <div class="d-flex justify-content-between">
                                    <div class="card-body">
                                    <h5 class="card-title">{{commit.message}}</h5>
                                    <p class="card-text">{{commit.author}} authored {{commit.authored_date|naturaltime}}</p>
                                    </div>
                                    <div>
                                        <div class="btn-group" role="group" aria-label="Basic example" color = 'white'>
                                            <button type="button" class="btn btn-secondary" id = {{commit.short_id}}>{{commit.short_id}}</button>
                                            <button type="button" class="btn btn-secondary" onclick="copyToC(this)"><i class="fa-solid fa-copy"></i></button>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
       </div>
    </body>
    <script>
        function copyToC(element) {
       var aId = element.previousElementSibling.id;
       var copyText =  document.getElementById(aId).innerHTML;

       document.addEventListener('copy', function(e) {
          e.clipboardData.setData('text/plain', copyText);
          e.preventDefault();
       }, true);

       document.execCommand('copy');  
       console.log('copied text : ', copyText);
       alert('copied text: ' + copyText);
    }
    </script>

</html>
